<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965236648915-4diefmmnct26dlg691f31m9h4f311t80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965236648915-4diefmmnct26dlg691f31m9h4f311t80</string>
	<key>API_KEY</key>
	<string>AIzaSyDzZYpMSlVsbTP8cnT3ALFT9WSTB_kNVf8</string>
	<key>GCM_SENDER_ID</key>
	<string>965236648915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsapp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-e12e7</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-e12e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965236648915:ios:2b74c63c0e1d76a32b5d26</string>
</dict>
</plist>